extends layout

block content
  h1 
    a( href="/" ) Warmachine Tournament Tracker

  div#initialContent
    = appData

  div.app

  script(id="playertemplate", type="text/x-handlebars")
    <a href="#" class="name">{{name}}</a>
    <p>City: {{City}}</p>


  script(id="detailedplayertemplate", type="text/x-handlebars")
    <h2>{{name}}</h2>
    <p>City: {{City}}</p>
    #addPlayer
      a(href="#submit/player") Add Player

  script(id="submitplayertemplate", type="text/x-handlebars")
    form(action="" method="").addPlayer
      | Name:
      input(type="text", name="name")
      | City:
      input(type="text", name="City")

      input(type="submit", value="Submit").submit_button
