extends layout

block content

  .container

    .page-header
      h1
        a( href="/" ).lead Warmachine Tournament Tracker

    div#initialContent
      = appData

    div.app

    script(id="playertemplate", type="text/x-handlebars")
      <a href="#" class="name">{{name}}</a>
      <p>City: {{city}}</p>

    script(id="tournamentdropdown", type="text/x-handlebars")
      option(name="{{name}}")

    script(id="detailedtournamenttemplate" type="text/x-handlebars")
      h3 Tournament


    script(id="detailedplayertemplate", type="text/x-handlebars")
      <script src="http://en.gravatar.com/{{{wordpress}}}.json?callback=Profile"></script>
      .row
        .col-md-8
          <h2>{{name}}</h2>
          <p>City: {{city}}</p>
        .col-md-4
          img(src="" data-email="{{email}}")

    script(id="submitplayertemplate", type="text/x-handlebars")

      h3 Add a New Player

      form(action="" method="").addPlayer.form-horizontal
        .form-group
          label(for="name" class="col-sm-2 control-label") Name
          .col-sm-6
            input(type="text", class="form-control" name="name")
        .form-group
          label(for="email" class="col-sm-2 control-label") Email
          .col-sm-6
            input(type="email", class="form-control" name="email")
        .form-group
          label(for="wordpress" class="col-sm-2 control-label") WordPress.com Username
          .col-sm-6
            input(type="text", class="form-control" name="wordpress")
        .form-group
          label(for="city" class="col-sm-2 control-label") City
          .col-sm-6
            input(type="text", class="form-control" name="city")
        .form-group
          label(for="tournament" class="col-sm-2 control-label") Tournament
          .col-sm-6.select
            select(name="tournament" class="form-control tournament")
        .form-group
          .col-sm-offset-2.col-sm-6
            button(type="submit").submit_button.btn.btn-primary Submit

  footer.container
    hr
    a(href="#submit/player").submit_player Add Player